<%= @user -%>,

Your ticket has been closed by <%= @engineer -%>.  The resolution of
the issue was:

<%= @ticket.journal %>

If you have further needs, you may open another ticket by following
this link:
http://ticket.architel.com/login?email=<%= @email %>

Thank you,

Architel
http://www.architel.com
214.550.2002

Want to escalate your issue?  Click the following link to learn how.
http://news.architel.com/?p=13
