
Welcome to SimpleTicket!

You must know your email address and password to log into password. They are:

E-mail Address: <%= @emailaddress -%>
Password: <%= @password -%>

You may change your password by logging into SimpleTicket:

<%= @logon_url %>
