<div class="escalate">
<a href="#" class="lbAction" rel="deactivate" style="float:right">[x]</a>
<h3>Escalate</h3>
<p>
<p>Escalate escalate  escalate  escalate  escalate  escalate  escalate  escalate  escalate
<hr>
<p>Escalate escalate  escalate  escalate  escalate  escalate  escalate  escalate  escalate
<hr>
<p>Escalate escalate  escalate  escalate  escalate  escalate  escalate  escalate  escalate
<hr>



         </div>
