<%= @name -%>,

You signup successfully for simpleticket.
Please note your signin information.

email    : <%= @email %>
password : <%= @password %>

You may login at any time by following this link:
http://ticket.architel.com/account/login

Thank you,

Architel
http://www.architel.com
214.550.2002
