	<div style='float: right; padding: 5px 10px;'>
		<div style='height:35px; margin: 0'>
			<%= image_tag 'activity_indicator.gif', :id => 'list_pending_indicator', :style => 'display:none;' %>
		</div>
	</div>
<!-- <div style="padding: 0px 0px 0px 10px;">
	<%= link_to 'Wiki', 'https://wiki.architel.com/architelops/' -%> |
	<%= link_to 'Client Wikis', 'https://wiki.architel.com/architelops/' -%> |
	<%= link_to 'Nagios', 'http://nagios.architel.com/nagios/' -%> |
	<%= link_to 'SPAM Filter', 'http://tools.architel.com/admin/' -%> |
	<%= link_to 'Projects', 'http://architelprojects.grouphub.com/' -%>
</div> -->
